* {
  box-sizing: border-box;
}

/*Typography*/

h1, h2, h3, h4 {
  font-family: 'Lora', Lucida, Georgia, serif;
  color: #282C66;
  text-shadow: 1px 1px 1px #282C66;
}
body, p, a {
  font-family: 'Rubik', Trebuchet MS, Helvetica, sans-serif;
  font-size: 1.25em;
  color: #282C66;
  margin: auto;
}
a {
  font-weight: 400;
  color: #282C66;
  background-color: transparent;
  margin: 0.25em;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1em;
}
img {
  max-width: 100%;
}

/*links*/

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  background-color: #282C66;
  color: white;
  z-index: 1;
  transition: color 900ms;
  -webkit-transition: color 900ms;
}
a:active {
  text-decoration: none;
}

/*main*/

body {
  max-width: 100%;
  background-color: transparent;
  position: relative;
}
section {
  min-height: 55em;
}
.ninety {
  max-width: 90%;
  clear: both;
  margin: auto;
}
.row {
  margin-bottom: 5em;
}
.col-md-4 {
  padding: 0;
}

/*Headers*/

.pichead {
  clear: both;
  margin-top: 3em;
  margin-bottom: 5em;
}
.texthead {
  text-align: center;
  clear: both;
  margin-top: 5em;
  margin-bottom: 5em;
}

/*Backgrounds*/

.cover {
  z-index: -100;
  background-size: cover;
  background-position: top;
  opacity: 0.9;
  background: transparent;
}
#video {
  background-image: url("../img/snow3.jpg");
  background-attachment: fixed;
  background-size: cover;
}
#about {
  background-image: url("../img/ski.png");
}
.pichead {
  background-image: url("../img/ontyback3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15em;
}
.picprofile {
  background-image: url("../img/jme2.jpg");
  background-size: contain;
  height: 25em;
  background-repeat: no-repeat;
  background-position: center;
}
#contact {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../img/snow9.jpg");
  background-attachment: fixed;
  background-position: bottom;
}
#faq {
  background-image: url("../img/snow8.jpg");
  background-attachment: fixed;
}

/*navbar*/

.navbar {
  padding-right: 3em;
  padding-left: 3em;
  background-color: white;
  border: none;
}
.navbar li a {
  padding-right: 1.5em;
  padding-left: 1.5em;
  font-weight: 600;
}
.navbar li a:hover, a:focus, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  color: white;
  background-color: #0B0F40;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #0B0F40;
}
.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: white;
  background-color: #0B0F40;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.dropdown-menu>.active>a {
  color: #0B0F40;
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: none;
}
.dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #fff;
  background-color: #0B0F40;
}
.navbar-brand h4 {
  margin: 0;
  padding: 0;
}

/*Carousel*/

.carousel .item {
  height: 500px;
}
.carousel-inner>.item>img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  opacity: 0.7;
}
.carousel {
  margin-left: -15px;
  margin-right: -15px;
  z-index: 1;
}
.carousel-control {
  margin: 0;
  z-index: 1;
}
.carousel:hover .carousel-control {
  margin: 0;
  background-color: transparent;
}


/*Index*/

#projects div {
    padding: 2em;
}
.btn-default {
    color: #282C66;
    background-color: #fff;
    border-color: #ccc;
}

/*PicGrid*/


/* Video*/

.bs-example {
  padding: 0;
  max-width: 100%;
  margin-bottom: 15em;
}
.embed-responsive {
    height: 40em;
}

/*About*/

/* Contact*/
#contact .ninety {
  opacity: 1;
  z-index: 100;
}
.contactsp h3 {
  margin: 1.5em;
}
.form-control {
  width: 80%;
}
#subbut {
  color: #282C66;
  margin-top: 2em;
}
#visible-comment {
  display: none;
}
#message-box {
  background-color: #e6e6e6;
}
#char_count {
  font-size: 1.75em;
}

/*FAQ*/
.panel-body {
  margin: 2em;
  padding: 2em;
}
.panel-group {
  margin-top: 5em;
  margin-bottom: 5em;
  max-width: 75%;
}


/*modal*/
  
.asktexthead {
  text-align: center;
  float: left;
  max-width: 100%;
  margin: 1em 2em 1em 1em;
}
#cvbut {
  margin: 5em 2em 1em 10em;
  color: #282C66;
  background-color: #fff;
  border-color: #ccc;
  padding: 1em;
}
#jmecv {
  min-height: 35em;
  width: 100%;
  padding: 2em;
}

/*tooltips*/

.linktooltip {
  font-size: inherit;
  background-color: #282C66;
  color:white;
}

/*PicGrid Titles*/

.work-img {
  display: block; /* needed to center the element with margin */
  margin: auto; /* center the image inside the column if it's smaller */
  position: relative; /* is needed for .info position: absolute to work */
}
.info {
  position: absolute; /* let's us move the text around and not worry about the image */
  bottom: 15%; /* position the text 15% away from the top */
  left: 22%;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:0.5em;
  line-height:1.6;
  display: none;
}
.proj-title {
  font-weight:100;
}

/*Map*/

#map {
  height: 20em;
  width: 40em;
}

/*footer*/

.footer {
  max-width: 100%;
  min-height: 4em;
  clear: both;
  opacity: 0.7;
  margin-top: 2em;
}
.footerright img {
  float: right;
  max-width: 2em;
  margin: 0 1em;
}
.footerleft {
  float: left;
  padding-left: 2em;
}

/*Media-Q's

@media (min-width: 1600px){
  section {
    min-width: 1570px;
    min-height: 680px;
  }
  .glyphicon-menu-hamburger {
      font-size: 5em;
  }
  body, p, a { 
    font-size: 2em;
  }
}
*/